.hero-title {
    color: white;
    font-weight: 600;
    font-size: 40px; /* Adjust as needed */
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.3;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Added text shadow */
  }