<section class="pt-7 pt-sm-5 pb-sm-6 bg-gradient7 position-relative">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3 class="fw-bold text-dark"
          style="font-size: 1.6rem; line-height: 1.4; padding-left: 2rem;">
          At Redwoods AI, 
          <span class="highlight highlight-success d-inline-block">our mission</span>
          is to revolutionize the way businesses approach sustainability. 
          We're dedicated to empowering organizations of all sizes to make a positive impact on the planet. 
        </h3>
      </div>
    </div>
  </div>
  <!-- <div _ngcontent-rjj-c130="" class="divider bottom d-none d-sm-block"></div> -->
</section>

<section class="py-5 mb-xl-4 mb-lg-3 position-relative px-3 px-sm-0" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-3">
      <div class="col-lg-6">
        <h1 class="display-5 fw-semibold">Why Redwoods?</h1>
        <p class="text-muted fs-3">
          Redwoods are a symbol of sustainability due to their longevity and resilience – an iconic and enduring
          representation of a sustainable future for generations to come. As a company and team founded in California,
          we aspire to exemplify the same principles and to support and enable change within organizations so that they
          too can become stewards of sustainability and an enduring environment.
        </p>
      </div>

      <div class="col-lg-5 offset-lg-1 align-items-center text-center">
        <img loading="lazy" src="assets/images/all/our-mission.png" loading="lazy" alt="" style="width: 400px;"
          class="img-fluid rounded-lg mx-sm-0 align-items-center" />
      </div>
    </div>
  </div>
</section>
<section class="py-5 mb-xl-5 mb-lg-4 position-relative px-3 px-sm-0" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-semibold">One Team. One Mission.</h1>
        <!-- <p class="text-muted my-4 fs-3">
          Our founding team is a powerhouse of deep expertise and
          passion. With a diverse blend of skills, backgrounds, and experiences,
          we bring a holistic perspective to the table. Each team member is a
          seasoned professional in their respective field, from technology and
          entrepreneurship, climate and sustainability to marketing and
          operations.
        </p> -->

        <p class="text-muted my-4 fs-3">
          Our founding and leadership team brings a proven track record of success in building and scaling startups, developing AI solutions and enterprise software & SaaS platforms. </p><p class="text-muted my-4 fs-3">
          With a unique blend of entrepreneurial spirit, technical expertise, and passion for sustainable impact, our leadership team is poised to revolutionize the sustainability landscape with disruptive AI solutions.
        </p>
      </div>
      <div class="col-lg-5 offset-lg-1 align-items-center text-center">
        <img loading="lazy" src="assets/images/teams1.jpg" loading="lazy" alt="" style="width: 400px;"
          class="img-fluid rounded-lg mx-sm-0 align-items-center" />
      </div>
    </div>
  </div>
</section>


  <section class="position-relative bg-gradient7 py-6 px-2 px-sm-0" data-aos="fade-up" data-aos-duration="600">
    <div class="divider top d-none d-sm-block"></div>

    <div class="container testimonials-2">
      <!-- <div class="row justify-content-left">
        <div class="col text-left">
          <h1 class="display-5 fw-semibold">Our Team</h1>
          <p class="text-muted my-4 fs-3">
            Our founding and leadership team brings a proven track record of success in building and scaling startups, developing AI solutions and enterprise software & SaaS platforms. </p><p class="text-muted my-4 fs-3">
            With a unique blend of entrepreneurial spirit, technical expertise, and passion for sustainable impact, our leadership team is poised to revolutionize the sustainability landscape with disruptive AI solutions.
          </p>
        </div>
      </div> -->

      <!-- <div class="people-container ">
        <div class="people-core  d-flex flex-wrap " style="margin-top: 35px; margin-right: 6rem; margin-left: 6rem">
          <div class="person-core" (click)="openLinkedin('https://www.linkedin.com/in/arvindkreddy/')">
            <img loading="lazy" src="/assets/images/team/Arvind Reddy.jpg" />
            <h4>
              Arvind Reddy
              <img loading="lazy" src="/assets/images/linkedin.svg" style="width: 20px; height: 20px;" />
            </h4>
            <p class="text-muted">Founder & CEO</p>
          </div>
          <div class="person-core" (click)="openLinkedin('https://www.linkedin.com/in/rchunduru/')">
            <img loading="lazy" src="/assets/images/team/Ravi Chunduru.png" />
            <h4>
              Ravi Chunduru
              <img loading="lazy" src="/assets/images/linkedin.svg" style="width: 20px; height: 20px;" />
            </h4>
            <p class="text-muted">SVP of Engineering</p>
          </div>
          <div class="person-core" (click)="openLinkedin('https://www.linkedin.com/in/bienvenidofernando/')">

            <img loading="lazy" src="/assets/images/team/BenFernando.png" />
            <h4>
              Ben Fernando
              <img loading="lazy" src="/assets/images/linkedin.svg" style="width: 20px; height: 20px;" />
            </h4>
            <p class="text-muted">ESG Technical Manager</p>
          </div>
        </div>

        <div class="team-core mt-6   d-flex flex-row justify-content-between  flex-wrap">

          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Sangeetha.png" />
            <h4>Sangeetha</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Laukik.png" />
            <h4>Laukik</h4>
          </div>
     <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Kullay.png" />
            <h4>Kullay</h4>
          </div>
        <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Saikumar.png" />
            <h4>Saikumar</h4>
          </div>

          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Hari.webp" />
            <h4>Hari</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Rajani.png" />
            <h4>Rajani</h4>
          </div>
      <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Shiva.png" />
            <h4>Shiva</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Sundhara.png" />
            <h4>Sundhar</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Karan.png" />
            <h4>Karan</h4>
          </div>
        <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Mega.png" />
            <h4>Megha</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Kunal.png" />
            <h4>Kunal</h4>
          </div>
          <div class="person-core px-4">
            <img loading="lazy" src="/assets/images/team/Irshad.webp" />
            <h4>Irshad</h4>
          </div>

        </div>
      </div> -->

      <!-- <div class="slider">
            <div class="row pt-5 features-5 container-fluid text-left">
                <div class="col-md-6 z-1 p-2 text-left" *ngFor="let team of ourTeam">
                    <div class="card border-0 rounded shadow feature-item h-100" data-aos="fade-up"
                        data-aos-duration="500">
                        <div class="card-body">
                            <h4 class="mt-3 mb-2 fw-semibold">{{team.title}}</h4>
                            <p class="text-muted mb-0">
                                {{team.desc}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
  </section>