.people-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 12px 18px;
    margin-right: 35px;
}

.slider::after {
    display: none;
}

.people-core {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    text-align: center;
}

.person-core {
    cursor: pointer;
}

.person-core>img {
    width: 220px;
    height: 220px;
}

.person-core>p,
h4 {
    padding: 0;
    margin: 0;
}

.team-core {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team-core .person-core>img {
    width: 150px;
    height: 150px;
}

.team-core .person-core {
    text-align: center;
}

@media (max-width: 768px) {
    .people-core {
        flex-direction: column;
    }

    .team-core {
        flex-direction: column;
    }
}