
<section class="pt-7 pt-sm-5 pb-sm-6 bg-gradient7 position-relative">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3 class="hero-title fw-medium text-dark">
          <span class="highlight highlight-success d-inline-block text-dark" style="font-size: 2rem; line-height: 1.4; padding-left: 2rem;">
            Supplier Sustainability Portal
          </span>
        </h3>
      </div>
    </div>
  </div>
  <div _ngcontent-rjj-c130="" class="divider bottom d-none d-sm-block"></div>
</section>
<section class="position-relative overflow-hidden hero-7 pb-4" data-aos="fade-up">
  <div class="container">
    <div class="container" data-aos="fade-up" data-duration="600">
      <div class="row">
        <div class="col-lg-11 mx-auto text-center">
          <div data-aos="fade-up" data-duration="600">
            <img
              loading="lazy"
              src="/assets/images/all/ai/supplier.webp"
              class="img-fluid rounded-lg"
              style="width: 900px; height: auto;"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-left">
      <div class="col text-left">
        <p class="mt-2 fs-3">
          The Redwoods AI Supplier Sustainability Platform: Streamlining Supply Chain Sustainability
        </p>
        <p class="mt-2 fs-3">
          The platform tackles key supply chain sustainability challenges:
        </p>
        <p class="mt-2 fs-3" style="padding-left: 2em;">
          • Scope 3 emissions data tracking and calculations
        </p>
        <p class="mt-2 fs-3" style="padding-left: 2em;">
          • Product life cycle assessments
        </p>
        <p class="mt-2 fs-3" style="padding-left: 2em;">
          • Materiality assessments
        </p>
        <p class="mt-2 fs-3">
          <b>Key Features</b>
        </p>
        <div class="mt-2 fs-3">
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Engagement: Our Supplier Sustainability Platform brings all suppliers into one software, simplifying supplier engagement, data collection, and product-level emissions tracking.
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Emission Data Gathering: Suppliers can collect data from multiple sources and formats using Redwoods AI Services and data integrations.
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Conversion and Calculation: Inbuilt calculators and conversion tools, based on industry-standard GHG guidelines, simplify carbon emissions accounting.
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Reporting: Configurable reporting tools align with multiple frameworks, enabling suppliers to report on emissions and ESG data.
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Summary Dashboard: Aggregate assessments, responses, and insights with training and tools for suppliers to collect scope data, develop sustainability projects, and set reduction targets.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
