<div data-aos="fade-up" data-aos-duration="600">
  <div class="container my-6">
    <div class="d-flex justify-content-between flex-column flex-md-row">
      <h2 class="display-3 fw-bold">
        AI/ML Engineer (Hybrid – Pleasanton, CA)  
      </h2>
      <img
        height="50"
        width="280"
        src="../../../assets/images/logo.png"
        alt="redwoods logo"
      />
    </div>
    <div class="my-3 fs-3">
      <h2><strong>About Redwoods.ai </strong></h2>
      <p>
        Redwoods.ai is on a mission to empower every organization to do better
        for the planet. The Redwoods AI Copilot sustainability platform is
        designed that allows enterprises and their suppliers to gather data,
        plan, report and take action that drives transformative climate and
        sustainability change.
      </p>
      <p>
        We are seeking a highly skilled and motivated AI/ML Engineer to join our
        team. As an AI/ML Engineer, you will design, develop, and implement
        cutting-edge machine learning models and artificial intelligence systems
        to solve complex business challenges. You will collaborate with
        cross-functional teams to create scalable and efficient AI-driven
        solutions. The right person for this job not only has domain knowledge
        and experience in products development but is driven to work with a
        dynamic team to create a more sustainable planet.
      </p>
      <h2><strong> Job Description:</strong> </h2>
      <p>
        We're seeking a highly skilled and motivated AI/ML Engineer to join our
        team. As an AI/ML Engineer, you will design, develop, and implement
        cutting-edge machine learning models and artificial intelligence systems
        to solve complex business challenges. You'll collaborate with
        cross-functional teams to create scalable and efficient AI-driven
        solutions.
      </p>
      <h2 class="mt-2"><strong> Key Responsibilities:</strong> </h2>

      <h2><strong>Data Processing and Analysis: </strong> </h2>
      <ul>
        <li>
          <p>
            Collect, clean, and preprocess large datasets for training and
            evaluation.
          </p>
        </li>
        <li>
          <p>
            Perform exploratory data analysis to uncover insights and guide
            model development.
          </p>
        </li>
      </ul>

      <h2><strong>Algorithm Research and Development: </strong> </h2>
      <ul>
        <li>
          <p>
            Research and implement state-of-the-art algorithms in machine
            learning, deep learning, and AI.
          </p>
        </li>
        <li>
          <p>
            Develop custom solutions for specific use cases when existing
            methods are insufficient.
          </p>
        </li>
      </ul>

      <h2><strong>Integration and Collaboration: </strong> </h2>
      <ul>
        <li>
          <p>
            Collaborate with software engineers to integrate AI models into
            applications and services.
          </p>
        </li>
        <li>
          <p>
            Work closely with stakeholders to understand requirements and
            deliver tailored solutions.
          </p>
        </li>
      </ul>

      <h2><strong>Innovation and Best Practices: </strong> </h2>
      <ul>
        <li>
          <p>
            Stay updated with the latest trends, tools, and techniques in AI/ML.
          </p>
        </li>
        <li>
          <p>
            Advocate for and implement best practices in AI/ML workflows and
            model management.
          </p>
        </li>
      </ul>

      <h2><strong> Model Development and Deployment: </strong> </h2>
      <ul>
        <li>
          <p>
            Design, build, and train machine learning models to address business
            objectives.
          </p>
        </li>
        <li>
          <p>
            Optimize and deploy models into production environments with
            scalability in mind.
          </p>
        </li>
      </ul>

      <h2><strong>Qualifications:</strong> </h2>
      <h2><strong>Education and Experience:</strong> </h2>
      <ul>
        <li>
          <p>
            Bachelor’s or Master’s degree in Computer Science, Data Science,
            Mathematics, or a related field.
          </p>
        </li>
        <li><p>3+ years of hands-on experience in AI/ML development.</p></li>
      </ul>

      <h2><strong>Technical Skills:</strong> </h2>
      <ul>
        <li>
          <p>Proficiency in programming languages like Python, R, or Java.</p>
        </li>
        <li>
          <p>
            Experience with machine learning frameworks such as TensorFlow,
            PyTorch, or Scikit-learn.
          </p>
        </li>
        <li>
          <p>
            Familiarity with data processing tools (e.g., Pandas, NumPy) and
            databases (SQL/NoSQL).
          </p>
        </li>
        <li>
          <p>
            Strong knowledge of cloud platforms like AWS, Azure, or Google Cloud
            for AI deployment.
          </p>
        </li>
      </ul>

      <h2><strong>Benefits: </strong> </h2>
      <ul>
        <li><p>Competitive salary and benefits package</p></li>
        <li><p>Opportunities for professional development and growth</p></li>
        <li><p>Collaborative and inclusive company culture</p></li>
        <li>
          <p>
            Meaningful work contributing to positive social and environmental
            impact
          </p>
        </li>
      </ul>
      <h2><strong> How to Apply</strong></h2>
      <p>
        Interested candidates, please send a resume and cover letter to
        <a class="emial" target="_blank" href="mailto:careers@redwoods.ai"
          ><b>
            <span style="text-decoration: underline"
              >careers@redwoods.ai.</span
            ></b
          ></a
        >
      </p>
    </div>
  </div>
</div>
