<section
  class="position-relative overflow-hidden hero-7 pb-4"
  data-aos="fade-up"
>
  <img
    loading="lazy"
    src="/assets/images/salution.png"
    class="img-fluid position-relative w-100 object-fit-cover"
    style="object-position: 0% 30%;"
  />

  <div class="container my-4">
    <div class="row justify-content-center">
      <h2 class="display-4 fw-medium">
        Built for Enterprises, Suppliers, Investors and NGOs
      </h2>

      <p class="my-3 fs-3">
        Redwoods.ai offers an AI-powered SaaS platform to help enterprises manage and report on environmental, social, and governance (ESG) metrics like emissions, water, waste, and social impacts. Redwoods.ai's solutions provide data integrations, emissions calculations, reporting aligned with frameworks, AI insights, and project management tools for companies' direct operations. The platform also provides the same tools to a company's supply chain through the Supplier Sustainability Platform. For investors, Redwoods.ai delivers ESG ratings, benchmarking, dashboards, automated data gathering, and portfolio analytics on ESG performance and risks. The company also partners with NGOs by providing ESG data access, training, performance evaluation, and facilitating collaboration between NGOs, investors, and companies to drive sustainability initiatives, advocacy, and positive change.
      </p>

      <img
        loading="lazy"
        src="/assets/images/Dashboard.webp"
        class="mx-auto d-flex w-50 my-4"
        data-aos="fade-up"
        data-duration="600"
      />

      <div class="mt-3 fs-3">
        <h2>Enterprise Sustainability Management</h2>
        <ul class="fs-3" style="padding-left: 2em;">
          <li>Out-of-the-box data integrations</li>
          <li>Environmental metric management and analytics (GHG emissions, water, waste)</li>
          <li>Social and Governance data aggregation and tracking</li>
          <li>Reporting in compliance with multiple frameworks and jurisdictions</li>
          <li>AI-powered insights and recommendations for target setting</li>
          <li>Project management support for decarbonization and risk management</li>
        </ul>

        <h2>Supply Chain Sustainability</h2>
        <ul class="fs-3" style="padding-left: 2em;">
          <li>Redwoods.ai Supplier Sustainability Platform eases data gathering burden through AI</li>
          <li>Offers customized portal for ESG data collection, calculations, reporting</li>
          <li>AI-powered mobile app for real-time collaboration</li>
        </ul>

        <h2>Investor ESG Analytics</h2>
        <ul class="fs-3" style="padding-left: 2em;">
          <li>Investors need granular ESG data to manage climate risks, disclosure mandates, avoid greenwashing</li>
          <li>Redwoods.ai provides ESG ratings, benchmarking, dashboards, automated data gathering</li>
          <li>AI insights on emissions, costs, supply chain risks</li>
          <li>Portfolio monitoring of ESG metrics and supplier performance</li>
        </ul>

        <h2>NGO Partnerships</h2>
        <ul class="fs-3" style="padding-left: 2em;">
          <li>Redwoods.ai empowers NGOs with ESG data access, tools training, performance evaluation</li>
          <li>Facilitates collaboration between NGOs, investors, companies for positive change</li>
        </ul>
      </div>
    </div>
  </div>
</section>
