<div class="d-flex pt-7 pb-5 pt-sm-5 pb-sm-6 bg-gradient7 px-3 px-sm-0 justify-content-center">
    <div class="formContainer">
        <div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm'>
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>

            <form class="form card" id='webform5953302000005272023' action='https://crm.zoho.com/crm/WebToLeadForm'
                name=WebToLeads5953302000005272023 method='POST'
                onSubmit='javascript:document.charset="UTF-8"; return checkMandatory5953302000005272023()'
                accept-charset='UTF-8'>
                <input type='text' style='display:none;' name='xnQsjsdp'
                    value='c2e32b3686c5233f4be6cf0e10cc9cc24084224cd58ae67dca485548c4e51d91' />
                <input type='hidden' name='zc_gad' id='zc_gad' value='' />
                <input type='text' style='display:none;' name='xmIwtLD'
                    value='92acad11d0b302f3b7bfd815b7bb8f20d70d086d39ff37932332253a8d772e2b4bd6582faa9c8401d05f6dc718ca92e2' />
                <input type='text' style='display:none;' name='actionType' value='TGVhZHM=' />
                <!-- <input type = 'text' style = 'display:none;' name = 'returnURL' value = 'https&#x3a;&#x2f;&#x2f;redwoods.ai&#x2f;&#x23;&#x2f;page&#x2f;thankyou'/> -->
                <input type='text' style='display:none;' name='returnURL' value='https://redwoods.ai/#/page/thankyou' />
                <!-- Do not remove this code. -->
                <style>
                    html,
                    body {
                        margin: 0px;
                    }

                    #crmWebToEntityForm.zcwf_lblLeft {
                        width: 100%;
                        padding: 25px;
                        margin: 0 auto;
                        box-sizing: border-box;
                    }

                    #crmWebToEntityForm.zcwf_lblLeft * {
                        box-sizing: border-box;
                    }

                    #crmWebToEntityForm {
                        text-align: left;
                    }

                    #crmWebToEntityForm * {
                        direction: ltr;
                    }

                    .zcwf_lblLeft .zcwf_title {
                        word-wrap: break-word;
                        padding: 0px 6px 10px;
                        font-weight: bold
                    }

                    .zcwf_lblLeft.cpT_primaryBtn:hover {
                        background: linear-gradient(#02acff 0, #006be4 100%) no-repeat padding-box !important;
                        box-shadow: 0 -2px 0 0 #0159b9 inset !important;
                        border: 0 !important;
                        color: #fff !important;
                        outline: 0 !important;
                    }

                    .zcwf_lblLeft .zcwf_col_fld input[type=text],
                    input[type=password],
                    .zcwf_lblLeft .zcwf_col_fld textarea {
                        width: 60%;
                        border: 1px solid #c0c6cc !important;
                        resize: vertical;
                        border-radius: 2px;
                        float: left;
                    }

                    .zcwf_lblLeft .zcwf_col_lab {
                        width: 30%;
                        word-break: break-word;
                        padding: 0px 6px 0px;
                        margin-right: 10px;
                        margin-top: 5px;
                        float: left;
                        min-height: 1px;
                    }

                    .zcwf_lblLeft .zcwf_col_fld {
                        float: left;
                        width: 68%;
                        padding: 0px 6px 0px;
                        position: relative;
                        margin-top: 5px;
                    }

                    .zcwf_lblLeft .zcwf_privacy {
                        padding: 6px;
                    }

                    .zcwf_lblLeft .wfrm_fld_dpNn {
                        display: none;
                    }

                    .dIB {
                        display: inline-block;
                    }

                    .zcwf_lblLeft .zcwf_col_fld_slt {
                        width: 60%;
                        border: 1px solid #ccc;
                        background: #fff;
                        border-radius: 4px;
                        font-size: 12px;
                        float: left;
                        resize: vertical;
                        padding: 2px 5px;
                    }

                    .zcwf_lblLeft .zcwf_row:after,
                    .zcwf_lblLeft .zcwf_col_fld:after {
                        content: '';
                        display: table;
                        clear: both;
                    }

                    .zcwf_lblLeft .zcwf_col_help {
                        float: left;
                        margin-left: 7px;
                        font-size: 12px;
                        max-width: 35%;
                        word-break: break-word;
                    }

                    .zcwf_lblLeft .zcwf_help_icon {
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        background: #fff;
                        border: 1px solid #c0c6cc;
                        color: #c1c1c1;
                        text-align: center;
                        font-size: 11px;
                        line-height: 16px;
                        font-weight: bold;
                        border-radius: 50%;
                    }

                    .zcwf_lblLeft .zcwf_row {
                        margin: 15px 0px;
                    }

                    .zcwf_lblLeft .formsubmit {
                        margin-right: 5px;
                        cursor: pointer;
                        color: var(--baseColor);
                        font-size: 12px;
                    }

                    .zcwf_lblLeft .zcwf_privacy_txt {
                        width: 90%;
                        color: rgb(0, 0, 0);
                        font-size: 12px;
                        font-family: Arial;
                        display: inline-block;
                        vertical-align: top;
                        color: var(--baseColor);
                        padding-top: 2px;
                        margin-left: 6px;
                    }

                    .zcwf_lblLeft .zcwf_button {
                        /* font-size: 12px;
                        color: var(--baseColor);
                        border: 1px solid #c0c6cc;
                        padding: 3px 9px;
                        border-radius: 4px;
                        cursor: pointer;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap; */
                    }

                    .zcwf_lblLeft .zcwf_tooltip_over {
                        position: relative;
                    }

                    .zcwf_lblLeft .zcwf_tooltip_ctn {
                        position: absolute;
                        background: #dedede;
                        padding: 3px 6px;
                        top: 3px;
                        border-radius: 4px;
                        word-break: break-word;
                        min-width: 100px;
                        max-width: 150px;
                        color: var(--baseColor);
                        z-index: 100;
                    }

                    .zcwf_lblLeft .zcwf_ckbox {
                        float: left;
                    }

                    .zcwf_lblLeft .zcwf_file {
                        width: 55%;
                        box-sizing: border-box;
                        float: left;
                    }

                    .clearB:after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    @media all and (max-width: 600px) {

                        .zcwf_lblLeft .zcwf_col_lab,
                        .zcwf_lblLeft .zcwf_col_fld {
                            width: auto;
                            float: none !important;
                        }

                        .zcwf_lblLeft .zcwf_col_help {
                            width: 40%;
                        }
                    }
                </style>
                <div class="bg-dark p-2 zcwf_title"><h1 class="text-white p-2"> Lead Form - Partner Portal</h1>
                </div>
                <!-- <div class='zcwf_title'>Lead Form - Partner Protal
            </div> -->
                <div class="card-body">
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF8'>Lead Submitted
                                By<span style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='LEADCF8' name='LEADCF8' maxlength='255'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='First_Name'>Lead First
                                Name<span style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='First_Name' name='First Name' maxlength='40'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Last_Name'>Last Name<span
                                    style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Company'>Company Name<span
                                    style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Company' name='Company' maxlength='200'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Designation'>Job
                                Title<span style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Designation' name='Designation' maxlength='100'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Email'>Email<span
                                    style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' ftype='email' autocomplete='false' id='Email' name='Email'
                                crmlabel='' maxlength='100'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Secondary_Email'>Secondary
                                Email</label></div>
                        <div class='zcwf_col_fld'><input type='text' ftype='email' autocomplete='false' id='Secondary_Email'
                                name='Secondary Email' crmlabel='' maxlength='100'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Mobile'>Mobile</label>
                        </div>
                        <div class='zcwf_col_fld'><input type='text' id='Mobile' name='Mobile' maxlength='30'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Phone'>Phone</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Phone' name='Phone' maxlength='30'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Website'>Website<span
                                    style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Website' name='Website' maxlength='255'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Annual_Revenue'>Annual
                                Revenue</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='Annual_Revenue' name='Annual Revenue'
                                maxlength='16'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF9'>Industry
                                Type</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='LEADCF9' name='LEADCF9' maxlength='255'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Country'>Country</label>
                        </div>
                        <div class='zcwf_col_fld'><input type='text' id='Country' name='Country' maxlength='100'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='State'>State</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='State' name='State' maxlength='100'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Zip_Code'>Zip Code</label>
                        </div>
                        <div class='zcwf_col_fld'><input type='text' id='Zip_Code' name='Zip Code' maxlength='30'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF5'>Company Linkedin
                                URL</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='LEADCF5' name='LEADCF5' maxlength='255'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF3'>Prospect Linkedin
                                URL</label></div>
                        <div class='zcwf_col_fld'><input type='text' id='LEADCF3' name='LEADCF3' maxlength='255'/>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Description'>Message for
                                Redwoods<span style='color:red;'>*</span></label></div>
                        <div class='zcwf_col_fld'><textarea id='Description' name='Description'></textarea>
                            <div class='zcwf_col_help'></div>
                        </div>
                    </div>
                    <div class='zcwf_row'>
                        <div class='zcwf_col_lab'></div>
                        <div class='zcwf_col_fld'>
                            <input type='submit' id='formsubmit'
                                class='formsubmit zcwf_button btn btn-success text-white mr-2' value='Submit'
                                title='Submit'>
                            <input type='reset' class='zcwf_button btn btn-secondary mr-2 text-white' name='reset' value='Reset'
                                title='Reset'>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/plugins.min.js"></script>
    <script src="js/functions.js"></script>
    <!-- Note :
	- You can modify the font style and form style to suit your website. 
	- Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
	- The Mandatory check script can modified as to suit your business needs. 
	- It is important that you test the modified form before going live.-->

</div>