<section class="object-fit-cover" data-aos="fade-up">
  <div class="position-relative">
    <img src="/assets/images/partnershipweb-1.webp" class="img-fluid w-100 object-fit-cover"
      style="object-position: 40% 30%; height: 25rem" />
    <div class="position-absolute text-white d-flex align-items-center justify-content-center"
      style="top: 0; left: 0; width: 100%; height: 100%">
      <!-- <p class="display-2 fw-bold">Let's work together to create sustainable future</p> -->
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        <!-- <h2 class="display-5 fw-medium">
                    Redwoods AI-powered solutions is a fully integrated, automated, and secure platform to help
                    customers accelerate their sustainability goals while improving employee, customer, supplier and
                    stakeholder experiences </h2> -->
      </div>
      <div class="container mt-4">
        <div class="row justify-content-left">
          <div class="col-lg-7 text-left"style="margin-bottom: 10px;">
            <div class="mt-4" style="padding-left: 2rem;">
              <button class="btn btn-success me-2" 
                      style="font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);">
                Become a Partner
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 fs-2">
        <b>Partnership Opportunities</b>
      </div>
      
    </div>
    <div class="position-relative mt-5">
      <!-- <img
        src="/assets/images/contactus2.jpg"
        class="img-fluid w-100 object-fit-cover"
        style="object-position: 50% 30%;"
      /> -->
      <div class="position-absolute text-white d-flex align-items-center justify-content-center"
        style="top: 0; left: 0; width: 100%; height: 100%">
        <!-- <p class="display-2 fw-bold">Let's work together to create sustainable future</p> -->
      </div>
    </div>
    <!-- <div class="mt-4 fs-3">
      <b>We are excited to explore multiple options for partnership! </b>
    </div> -->
    <div class="mt-3 fs-3 m-3 d-flex align-items-center gap-3">
      <div><img src="/assets/images/partners/Technology integration Partners.svg" alt=""></div>
      <p class="mt-2">
        <b>Technology Integration Partners - </b>
        Integrate your technology into Redwoods AI's enterprise software to 
        enhance customer satisfaction and revenue channels
      </p>
    </div>
    <div class="fs-3 m-3 d-flex align-items-center gap-3">
      <div><img src="/assets/images/partners/Network Partners.svg" alt=""></div>
      <p class="">
        <b> Network Partners -</b>
        Collaborate with universities, innovation hubs, NGOs, 
        and businesses associations to bridge the gap between research and application.
      </p>
    </div>
    <div class="fs-3 m-3 d-flex align-items-center gap-3">
      <div><img src="/assets/images/partners/Reseller and Consulting Partners.svg" alt=""></div>
      <p class="">
        <b>Reseller and Consulting Partners -</b>
        Leverage Redwoods AI's sustainability solutions to position your firm as a 
        sustainability leader and offer specialized consulting and resale services
      </p>
    </div>
    <div class="fs-3 m-3 d-flex align-items-center gap-3">
      <div><img src="/assets/images/partners/Marketplace Partners.svg" alt=""></div>
      <p class="">
        <b>Marketplace partners -</b>
        Showcase sustainable products and elevate your brand's visibility and sales opportunities
      </p>
    </div>
    <div class="fs-3 m-3 d-flex align-items-center gap-3">
      <div><img src="/assets/images/partners/Referral Program.svg" alt=""></div>
      <p class="">
        <b>Referral Program -</b>
        Earn lucrative commissions by referring new clients to Redwoods AI
      </p>
    </div>
    <div class="position-relative mt-5">
      <!-- <img
        src="/assets/images/contactus2.jpg"
        class="img-fluid w-100 object-fit-cover"
        style="object-position: 50% 30%;"
      /> -->
      <div class="position-absolute text-white d-flex align-items-center justify-content-center"
        style="top: 0; left: 0; width: 100%; height: 100%">
        <!-- <p class="display-2 fw-bold">Let's work together to create sustainable future</p> -->
      </div>
    </div>
    <div class="mt-5 fs-3">
      <p class="mt-2">
        Redwoods AI values collaboration and is excited to explore 
        partnership opportunities that drive groundbreaking progress in sustainability management.​
      </p>
    </div>
    <!-- <div class="container text-left mt-4">
      <div class="row justify-content-left">
        <div class="col">
          <button class="btn btn-success btn-lg" [routerLink]="'/page/partner-portal-login'"style="margin-bottom: 80px;">
            Become a Partner
          </button>
        </div>
      </div>
    </div> -->
  </div>
  <div class="container mt-4">
    <div class="row justify-content-left">
      <div class="col-lg-7 text-left"style="margin-bottom: 120px;">
        <div class="mt-4" style="padding-left: 2rem;">
          <a class="btn btn-success me-2" [href]="demoUrl" style=" font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); "> Request demo </a>

          <button class="btn btn-secondary me-2" 
                  style="font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
            Become a Partner
          </button>
          <!-- <button class="btn btn-success me-2" 
                  style="font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
            Learn More
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h1 class="hero-title mb-0 text-dark">Contact</h1>
        <p class="mb-4 fs-17 text-muted">Want to partner with Redwoods AI?​</p>
        <p class="mb-4 fs-17 text-muted">
          Please fill out the form below to initiate your partnership inquiry.
          Our team will assess your information and respond promptly.
        </p>
      </div>
    </div>
  </div> -->
  
  <div class="divider bottom d-none d-sm-block"></div>
</section>

<!-- <section class="section pb-lg-7 py-4 position-relative" data-aos="fade-up" data-aos-duration="500">
  <section id="content">
    <div id="crmWebToEntityForm" class="zcwf_lblLeft crmWebToEntityForm"
      style="background-color: white; color: black; max-width: 600px">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

      <form action="https://crm.zoho.com/crm/WebToLeadForm" name="WebToLeads5953302000000435327" method="POST"
        onSubmit='javascript:document.charset="UTF-8"; return checkMandatory5953302000000435327(true)'
        accept-charset="UTF-8">
        <input type="text" style="display: none" name="xnQsjsdp"
          value="bba59644d57f4a81208936d5f3b0950edbb90cfa654d7d929bbbeb2051adc07d" />

        <input type="hidden" name="zc_gad" id="zc_gad" value="" />

        <input type="text" style="display: none" name="xmIwtLD"
          value="aa0c297c184bced96cbd84f526b032ac99de1cf22e8c36c5b7a766dd77ed6a2b" />

        <input type="text" style="display: none" name="actionType" value="TGVhZHM=" />

        <input type='text' style='display:none;' name='returnURL'
                    value='https&#x3a;&#x2f;&#x2f;redwoods.ai&#x2f;index.html' />

        <input type="text" style="display: none" name="returnURL" value="https://redwoods.ai/#/page/thankyou" />

        Do not remove this code.

        <style>
          html,
          body {
            margin: 0px;
          }

          #crmWebToEntityForm.zcwf_lblLeft {
            width: 100%;

            padding: 25px;

            margin: 0 auto;

            box-sizing: border-box;
          }

          #crmWebToEntityForm.zcwf_lblLeft * {
            box-sizing: border-box;
          }

          #crmWebToEntityForm {
            text-align: left;
          }

          #crmWebToEntityForm * {
            direction: ltr;
          }

          .zcwf_lblLeft .zcwf_title {
            word-wrap: break-word;

            padding: 0px 6px 10px;

            font-weight: bold;
          }

          .zcwf_lblLeft.cpT_primaryBtn:hover {
            background: linear-gradient(#02acff 0, #006be4 100%) no-repeat padding-box !important;

            box-shadow: 0 -2px 0 0 #0159b9 inset !important;

            border: 0 !important;

            color: #fff !important;

            outline: 0 !important;
          }

          .zcwf_lblLeft .zcwf_col_fld input[type="text"],
          input[type="password"],
          .zcwf_lblLeft .zcwf_col_fld textarea {
            width: 60%;

            border: 1px solid #c0c6cc !important;

            resize: vertical;

            border-radius: 2px;

            float: left;
          }

          .zcwf_lblLeft .zcwf_col_lab {
            width: 30%;

            word-break: break-word;

            padding: 0px 6px 0px;

            margin-right: 10px;

            margin-top: 5px;

            float: left;

            min-height: 1px;
          }

          .zcwf_lblLeft .zcwf_col_fld {
            float: left;

            width: 68%;

            padding: 0px 6px 0px;

            position: relative;

            margin-top: 5px;
          }

          .zcwf_lblLeft .zcwf_privacy {
            padding: 6px;
          }

          .zcwf_lblLeft .wfrm_fld_dpNn {
            display: none;
          }

          .dIB {
            display: inline-block;
          }

          .zcwf_lblLeft .zcwf_col_fld_slt {
            width: 60%;

            border: 1px solid #ccc;

            background: #fff;

            border-radius: 4px;

            font-size: 12px;

            float: left;

            resize: vertical;

            padding: 2px 5px;
          }

          .zcwf_lblLeft .zcwf_row:after,
          .zcwf_lblLeft .zcwf_col_fld:after {
            content: "";

            display: table;

            clear: both;
          }

          .zcwf_lblLeft .zcwf_col_help {
            float: left;

            margin-left: 7px;

            font-size: 12px;

            max-width: 35%;

            word-break: break-word;
          }

          .zcwf_lblLeft .zcwf_help_icon {
            cursor: pointer;

            width: 16px;

            height: 16px;

            display: inline-block;

            background: #fff;

            border: 1px solid #c0c6cc;

            color: #c1c1c1;

            text-align: center;

            font-size: 11px;

            line-height: 16px;

            font-weight: bold;

            border-radius: 50%;
          }

          .zcwf_lblLeft .zcwf_row {
            margin: 1px 0px;
          }

          .zcwf_lblLeft .formsubmit {
            margin-right: 5px;

            cursor: pointer;

            color: var(--baseColor);

            font-size: 12px;
          }

          .zcwf_lblLeft .zcwf_privacy_txt {
            width: 90%;

            color: rgb(0, 0, 0);

            font-size: 12px;

            font-family: "Be Vietnam Pro", sans-serif;

            display: inline-block;

            vertical-align: top;

            color: var(--baseColor);

            padding-top: 2px;

            margin-left: 6px;
          }

          .zcwf_lblLeft .zcwf_button {
            font-size: 12px;

            color: var(--baseColor);

            border: 1px solid #c0c6cc;

            padding: 3px 9px;

            border-radius: 4px;

            cursor: pointer;

            max-width: 120px;

            overflow: hidden;

            text-overflow: ellipsis;

            white-space: nowrap;
          }

          .zcwf_lblLeft .zcwf_tooltip_over {
            position: relative;
          }

          .zcwf_lblLeft .zcwf_tooltip_ctn {
            position: absolute;

            background: #dedede;

            padding: 3px 6px;

            top: 3px;

            border-radius: 4px;
            word-break: break-word;

            min-width: 100px;

            max-width: 150px;

            color: var(--baseColor);

            z-index: 100;
          }

          .zcwf_lblLeft .zcwf_ckbox {
            float: left;
          }

          .zcwf_lblLeft .zcwf_file {
            width: 55%;

            box-sizing: border-box;

            float: left;
          }

          .clearB:after {
            content: "";

            display: block;

            clear: both;
          }

          @media all and (max-width: 600px) {

            .zcwf_lblLeft .zcwf_col_lab,
            .zcwf_lblLeft .zcwf_col_fld {
              width: auto;

              float: none !important;
            }

            .zcwf_lblLeft .zcwf_col_help {
              width: 40%;
            }
          }
        </style>

        removed<div class='zcwf_title' style='max-width: 600px;color: black; font-family: "Be Vietnam Pro", sans-serif;;'>Contact Us&#x3a;</div>
        
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="First_Name">First Name<span style="color: red">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" id="First_Name" name="First Name" maxlength="40" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="Last_Name">Last Name <span style="color: red">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" id="Last_Name" name="Last Name" maxlength="80" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="Email">Company email<span style="color: red">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" ftype="email" autocomplete="false" id="Email" name="Email" maxlength="100" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="Mobile">Mobile</label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" id="Mobile" name="Mobile" maxlength="30" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="Company">Company Name<span style="color: red">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" id="Company" name="Company" maxlength="200" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="title">Title<span style="color: red">*</span></label>
          </div>
          <div class="zcwf_col_fld">
            <input type="text" id="title" name="title" maxlength="200" />
            <div class="zcwf_col_help"></div>
          </div>
        </div>
commented before
        <div class='zcwf_row'>
                    <div class='zcwf_col_lab' style='font-size:12px; font-family: "Be Vietnam Pro", sans-serif;'><label for='Country'>Country</label></div>
                    <div class='zcwf_col_fld'><input type='text' id='Country' name='Country' maxlength='100'/>
                        <div class='zcwf_col_help'></div>
                    </div>
                </div>
        <div class='zcwf_row'>
        <div class='zcwf_col_lab' style='font-size:12px; font-family: "Be Vietnam Pro", sans-serif;'><label for='City'>City</label></div>
        <div class='zcwf_col_fld'><input type='text' id='City' name='City' maxlength='100'/>
        <div class='zcwf_col_help'></div>
        </div>
        </div>
        <div class='zcwf_row'>
                    <div class='zcwf_col_lab' style='font-size:12px; font-family: "Be Vietnam Pro", sans-serif;'><label for='Zip_Code'>Zip Code</label></div>
                    <div class='zcwf_col_fld'><input type='text' id='Zip_Code' name='Zip Code' maxlength='30'/>
                        <div class='zcwf_col_help'></div>
                    </div>
                </div>

        <div class="zcwf_row">
          <div class="zcwf_col_lab" style="font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif">
            <label for="Description">How can we help?</label>
          </div>
          <div class="zcwf_col_fld">
            <textarea id="Description" name="Description"></textarea>
            <div class="zcwf_col_help"></div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_privacy">
            <div class="dIB vat" align="left">
              <div class="displayPurpose f13">
                <label class="newCustomchkbox-md dIB w100per"><input autocomplete="off"
                    id="privacyTool5953302000000435327" type="checkbox" name="privacyTool"
                    onclick="disableErr5953302000000435327()" /></label>
              </div>
            </div>
            <div [routerLink]="'/page/privacy-policy'" class="dIB zcwf_privacy_txt" style="
                font-size: 12px;
                font-family: 'Be Vietnam Pro', sans-serif;
                color: black;
                cursor: pointer;
              ">
              I agree to the
              <span class="text-decoration-underline text-primary">Privacy Policy</span>
              and
              <span class="text-decoration-underline text-primary" [routerLink]="'/page/terms-of-services'">GDPR
                Compliance</span>
            </div>
            <div id="privacyErr5953302000000435327" style="
                font-size: 12px;
                color: red;
                padding-left: 5px;
                visibility: hidden;
              ">
              Please accept this
            </div>
          </div>
        </div>
        <div class="zcwf_row">
          <div class="zcwf_col_lab"></div>
          <div class="zcwf_col_fld">
            <input type="submit" id="formsubmit" class="formsubmit zcwf_button btn btn-success text-white"
              value="Submit" title="Submit" /><input type="reset" class="zcwf_button btn btn-primary text-white"
              name="reset" value="Reset" title="Reset" />
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="js/jquery.js"></script>
  <script src="js/plugins.min.js"></script>
  <script src="js/functions.js"></script>
</section> -->