<section class="pt-7 pt-sm-5 pb-sm-6 bg-gradient7 position-relative">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3 class="hero-title fw-medium text-dark">
          <span class="highlight highlight-success d-inline-block text-dark" style="font-size: 2rem; line-height: 1.4; padding-left: 2rem;">
            Enterprise Sustainability Platform
          </span>
        </h3>
      </div>
    </div>
  </div>
  <div _ngcontent-rjj-c130="" class="divider bottom d-none d-sm-block"></div>
</section>

<section class="position-relative overflow-hidden hero-7 pb-4" data-aos="fade-up">
  <div class="container">
    <div class="container" data-aos="fade-up" data-duration="600">
      <div class="row">
        <div class="col-lg-11 mx-auto text-center">
          <div data-aos="fade-up" data-duration="600">
            <img
              loading="lazy"
              src="/assets/images/redwoods-platform.webp"
              class="img-fluid rounded-lg"
              style="width: 900px; height: auto;"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-left">
      <div class="col text-left">
        <p class="mt-2 fs-3">
          The Redwoods AI Solution: Unlocking End-to-End Sustainability 
          Redwoods AI offers a comprehensive platform designed to accelerate and focus climate and 
          sustainability efforts across an entire enterprise.   
        </p>
        <p class="mt-2 fs-3">
          <b>Key Features</b>
        </p>
        <div class="mt-2 fs-3" style="padding-left: 2em;">
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Out-of-the-box data integrations with leading systems (SAP, Oracle, Salesforce, Workday, Microsoft, IoT)
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>GHG Emissions tracking (Scopes 1, 2, 3), water, waste, and social governance KPI data
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>AI-powered predictions, recommendations, and what-if analysis
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>Reporting compliant with multiple frameworks and regulations
          </p>
          <p style="margin: 8px 0; font-size: 1.3rem;">
            <span style="color: green; font-weight: bold; margin-right: 5px;">✔</span>AI-powered Supplier Sustainability Platform
          </p>
        </div>

        <div class="mt-2 fs-3">
          <p class="mt-2 fs-3">
            <b>The SMART Process</b>
          </p>
          <p class="mt-2 fs-3">
            Our platform utilizes the <b>SMART</b> process to deliver end-to-end sustainability functionality:
          </p>
          <p class="mt-2">
            <!-- <b><span class="highlight highlight-success d-inline-block" style="text-decoration: underline; color: green;">Streamline</span>:</b> Integrate existing data sources from industry-leading systems. -->
            <b><span style="text-decoration: underline; color: rgb(13, 23, 113);">Streamline</span>:</b> Integrate existing data sources from industry-leading systems.
          </p>
          <p class="mt-2">
            <b><span style="text-decoration: underline; color: rgb(40, 77, 185);">Measure</span>:</b> Collect and track GHG emissions, environmental, social, and governance data.
          </p>
          <p class="mt-2">
            <b><span style="text-decoration: underline; color: rgb(47, 124, 232);">Accelerate</span>:</b> Set goals, decarbonization targets, and plan strategies using AI-powered predictions and project management tools.
          </p>
          <p class="mt-2">
            <b><span style="text-decoration: underline; color: rgb(17, 67, 17);">Report</span>:</b> Generate seamless and auditable climate and sustainability reports.
          </p>
          <p class="mt-2">
            <b><span style="text-decoration: underline; color: rgb(25, 152, 25);">Transform</span>:</b> Drive transformational change by engaging suppliers, partners, and employees to create sustainable products and services.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
