<section class="overflow-hidden pb-lg-4 bg-gradient7 position-relative pt-lg-2 py-1 px-2 px-sm-0" data-aos="fade-up"
  data-aos-duration="500" style="background-color: #f5f5f5; padding: 2rem 0;">
  <div class="divider top d-none d-sm-block"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center" data-aos="fade-up" data-duration="600">
        <h2 class="display-5 fw-medium heading-padding mt-5" style="font-size: 1.6rem; line-height: 1.4;">
          Whether it is data insights, supplier engagement, compliance or reporting into various standards, 
          Redwoods Platform has AI agents ready to deploy. You can also customize these agents to automate
          <i><span class="highlight highlight-success d-inline-block"> YOUR</span></i> workflow.
        </h2>


      </div>
      <!-- First Row of Cards -->
      <div class="row justify-content-center mt-2 gx-3">
        <!-- AI Agent for Supply Chain -->
        <div class="col-md-6 col-lg-3">
          <div class="card border rounded shadow p-4 text-center hover-card h-100">
            <div class="d-flex align-items-left justify-content-left">
              <img src="assets/images/all/ai/ai-supplychain.svg" alt="Supply Chain Icon"
                style="width: 30px; height: 30px;">
              <h4 class="fw-bold m-0 ms-2" style="font-size: 1rem;">
                AI Supply Chain Agent
              </h4>
            </div>
            <div class="text-content mt-3" style="margin-bottom: 0; padding-bottom: 0;">
              <p class="text-muted" style="font-size: 0.98rem; margin-bottom: 0;">
                Automates the entire supplier engagement
                and response workflow
              </p>
              <hr style="border-top: 1px solid #000; margin-top: 20px;">
              <h5 class="mt-3" style="font-size: 1.1rem; font-weight: 300;">Key Features</h5>
              <ul class="list-unstyled mt-2 text-start">
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Quick Supplier Onboarding​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Autofill Assessments</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Automate Supplier/Customer responses​</li>
              </ul>
            </div>
            <div class="btn-container">
              <a class="btn btn-success w-100" [href]="demoUrl" style="font-size: 1rem;"> Request demo </a>

             
            </div>
          </div>
        </div>
        <!-- AI Agent for Compliance -->
        <div class="col-md-6 col-lg-3">
          <div class="card border rounded shadow p-4 text-center hover-card h-100">
            <div class="d-flex align-items-left justify-content-left">
              <img src="assets/images/all/ai/ai-compliance.svg" alt="Supply Chain Icon"
                style="width: 30px; height: 30px;">
              <h4 class="fw-bold m-0 ms-2" style="font-size: 1rem;">
                AI Compliance Agent
              </h4>
            </div>
            <div class="text-content mt-3" style="margin-bottom: 0; padding-bottom: 0;">
              <p class="text-muted" style="font-size: 0.98rem; margin-bottom: 0;">
                Automates compliance workflows, risk assessments, and reporting
              </p>
              <hr style="border-top: 1px solid #000; margin-top: 20px;">
              <h5 class="mt-3" style="font-size: 1.1rem; font-weight: 300;">Key Features</h5>
              <ul class="list-unstyled mt-2 text-start">
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Reduces Manual effort​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Minimizes Risk​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Accuracy and Completeness​​</li>
              </ul>
            </div>
            <div class="btn-container">
              <a class="btn btn-success w-100" [href]="demoUrl" style="font-size: 1rem;"> Request demo </a>

            </div>
          </div>
        </div>
        <!-- AI Data Agent -->
        <div class="col-md-6 col-lg-3">
          <div class="card border rounded shadow p-4 text-center hover-card h-100">
            <div class="d-flex align-items-left justify-content-left">
              <img src="assets/images/all/ai/ai-data.svg" alt="Supply Chain Icon"
                style="width: 30px; height: 30px;">
              <h4 class="fw-bold m-0 ms-2" style="font-size: 1rem;">
                AI Data Agent
              </h4>
            </div>
            <div class="text-content mt-3" style="margin-bottom: 0; padding-bottom: 0;">
              <p class="text-muted" style="font-size: 0.98rem; margin-bottom: 0;">
                Automates data collection, analytics, and actionable insights
              </p>
              <hr style="border-top: 1px solid #000; margin-top: 20px;">
              <h5 class="mt-3" style="font-size: 1.1rem; font-weight: 300;">Key Features</h5>
              <ul class="list-unstyled mt-2 text-start">
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Consolidated Data Collection​​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;">  Advanced Data Analytics​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Real-time Visualization​</li>
              </ul>
            </div>
            <div class="btn-container">
              <a class="btn btn-success w-100" [href]="demoUrl" style="font-size: 1rem;"> Request demo </a>

            </div>
          </div>
        </div>
        <!-- Custome AI Agent -->
        <div class="col-md-6 col-lg-3">
          <div class="card border rounded shadow p-4 text-center hover-card h-100">
            <div class="d-flex align-items-left justify-content-left">
              <img src="assets/images/all/ai/ai-custom.svg" alt="Supply Chain Icon"
                style="width: 30px; height: 30px;">
              <h4 class="fw-bold m-0 ms-2" style="font-size: 1rem;">
                AI Custom Agent
              </h4>
            </div>
            <div class="text-content mt-3" style="margin-bottom: 0; padding-bottom: 0;">
              <p class="text-muted" style="font-size: 0.98rem; margin-bottom: 0;">
                Build custom AI agents tailored for your sustainability challenges​
              </p>
              <hr style="border-top: 1px solid #000; margin-top: 20px;">
              <h5 class="mt-3" style="font-size: 1.1rem; font-weight: 300;">Key Features</h5>
              <ul class="list-unstyled mt-2 text-start">
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Automate specific workflows​​</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Customize KPIs and Insights</li>
                <li style="font-size: 0.8rem; font-weight: 600;"><img src="assets/images/all/ai/arrow-right.svg"
                    alt="Success Tick" style="width: 16px; height: 16px;"> Upload 100s of documents​​</li>
              </ul>
            </div>
            <div class="btn-container">
              <a class="btn btn-success w-100" [href]="demoUrl" style="font-size: 1rem;"> Request demo </a>

            </div>
          </div>
        </div>
        <!-- cards end -->
      </div>
    </div>
  </div>
</section>




<section class="overflow-hidden pb-lg-4 position-relative pt-lg-4 py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center" data-aos="fade-up" data-duration="600">
        <h2 class="display-5 fw-medium" style="font-size: 1.6rem; line-height: 1.4;">
          Redwoods' Agentic AI platform integrates multiple AI agents to automate and 
          optimize sustainability workflows, unlocking unparalleled efficiency, productivity, and innovation.
        </h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-11 text-center mx-auto">
            <div class="mr-2" data-aos="fade-up" data-duration="600">
              <img loading="lazy" class="img-fluid rounded-lg " src="assets/images/all/ai/AIFramework.gif"
                style="width: 100%; height: auto; object-fit: cover;" alt="Agentic AI Framework" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden pb-lg-4 position-relative pt-lg-4 py-4">
  <div class="container">
    <div class="row align-items-center mt-4">
      <!-- Text Content -->
      <div class="col-md-6">
        <h2 class="fw-bold" style="font-size: 1.6rem; line-height: 1.4;">
          AI Supply Chain Agent: Automate Sustainability Tasks​
        </h2>
        <ul class="list-unstyled mt-3" style="font-size: 1.2rem; line-height: 1.8;">
          <li class="d-flex align-items-start mb-2">
            <div class="d-flex align-items-center" style="min-height: 1.5em;">
              <img src="assets/images/all/ai/success-tick.svg" alt="AI Icon"
                style="width: 24px; height: 24px; margin-right: 0.8rem;">
            </div>
            <span style="display: inline-block;">Onboard all your suppliers at a click of a button​</span>
          </li>
          <li class="d-flex align-items-start mb-2">
            <div class="d-flex align-items-center" style="min-height: 1.5em;">
              <img src="assets/images/all/ai/success-tick.svg" alt="AI Icon"
                style="width: 24px; height: 24px; margin-right: 0.8rem;">
            </div>
            <span style="display: inline-block;">Create and send assessments to selected/all suppliers​</span>
          </li>
          <li class="d-flex align-items-start mb-2">
            <div class="d-flex align-items-center" style="min-height: 1.5em;">
              <img src="assets/images/all/ai/success-tick.svg" alt="AI Icon"
                style="width: 24px; height: 24px; margin-right: 0.8rem;">
            </div>
            <span style="display: inline-block;">Autofill assessments​</span>
          </li>
          <li class="d-flex align-items-start mb-2">
            <div class="d-flex align-items-center" style="min-height: 1.5em;">
              <img src="assets/images/all/ai/success-tick.svg" alt="AI Icon"
                style="width: 24px; height: 24px; margin-right: 0.8rem;">
            </div>
            <span style="display: inline-block;">Review and manage responses​</span>
          </li>
          <li class="d-flex align-items-start mb-2">
            <div class="d-flex align-items-center" style="min-height: 1.5em;">
              <img src="assets/images/all/ai/success-tick.svg" alt="AI Icon"
                style="width: 24px; height: 24px; margin-right: 0.8rem;">
            </div>
            <span style="display: inline-block;">Generate summary dashboard ​</span>
          </li>
        </ul>
        <div class="mt-4" style="padding-left: 2rem;">
          <a class="btn btn-success me-2" [href]="demoUrl" style="font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);"> Request demo </a>
          <a [routerLink]="'/page/contact'">
            <button class="btn btn-secondary"
              style="font-size: 1.3rem; padding: 12px 24px; border-radius: 8px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
              Learn More
            </button></a>
        </div>
      </div>
      <!-- Video Content -->
      <div class="col-md-6 text-center">
        <div class="video-container">
          <video loading="lazy" class="img-fluid rounded-lg" src="assets/images/all/ai/ai-agent.mp4" autoplay muted loop
            style="width: 150%; height: auto;" alt="AI Agents for Supply Chain"></video>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overflow-hidden pb-lg-4 position-relative pt-lg-4 py-4">
  <div class="container" id="icareimagescroll">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h2 class="display-5 fw-medium" style="font-size: 1.6rem; line-height: 1.4;">
          Redwoods SMART AI-native enterprise software offers an end-to-end platform to accelerate sustainability
          transformation
        </h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-11 text-center mx-auto">
            <div class="mr-2" data-aos="fade-up" data-duration="600">
              <img loading="lazy" class="img-fluid rounded-lg" src="assets/images/redwoods-platform.webp"
                style="width: 80%; height: auto;" />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col text-center">
        <h1 class="display-5 fw-medium">
          The Redwoods.AI Enterprise Software is built using our SMART
          methodology, <br /> empowering entities of any size to:
        </h1>
        <ul class="list-unstyled mt-3 fs-4">
          <li class="mb-3">
            <strong>Streamline</strong> the data collection process and data
            source engagement with AI services and IT integrations.
          </li>
          <li class="mb-3">
            <strong>Measure</strong> and analyze sustainability data, supply
            chain data, other data across Environment, Social and Governance
            (ESG).
          </li>
          <li class="mb-3">
            <strong>Accelerate</strong> processes with AI services, such as
            Redwoods AI Co-pilot and Terra Chatbot, saving time and resources.
          </li>
          <li class="mb-3">
            <strong>Report</strong> on data and sustainability progress across
            various mandatory and voluntary reporting regimes and frameworks.
            <br />
            Emphasizing the ability to collect data once and report multiple
            times.
          </li>
          <li class="mb-3">
            <strong>Transform</strong> their company and culture by making
            sustainability easy and achievable.
          </li>
        </ul>
      </div> -->
      <div class="companyLogosMainConatiner mt-5 text-center">
        <div class="LogosContainer">
          <!-- <p class="p-0">
            Alignments:
          </p> -->
          <img class="logoSize1" src="assets/images/logos/image (6).png" alt="Logo" loading="lazy" />
          <img class="logoSize1" src="assets/images/logos/image (7).png" alt="Logo" loading="lazy" />
          <img class="logoSize1" src="assets/images/logos/esrs-logo2.png" alt="Logo" loading="lazy" />
          <img class="logoSize1" src="assets/images/logos/brsr.png" alt="Logo" loading="lazy" />
          <!-- <img
            class="logoSize1"
            src="assets/images/logos/image (3).png"
            alt="Logo"
            loading="lazy"
          /> -->
          <img class="logoSize1" src="assets/images/logos/unsdg-logo1.jpeg" alt="Logo" loading="lazy" />
        </div>
        <div class="LogosContainer">
          <!-- <p class="">
            Integrations:
          </p> -->
          <!-- <img
            class="logoSize1"
            src="assets/images/logos/image (7).png"
            alt="Logo"
            loading="lazy"
          /> -->
          <img class="logoSize1" src="assets/images/logos/salesforce-2.svg" alt="Logo" loading="lazy" />
          <img class="logoSize1" src="assets/images/logos/sap.svg" alt="Logo" loading="lazy" />
          <img class="logoSize2" src="assets/images/logos/Logo-Oracle.png" alt="Logo" loading="lazy" />
          <img class="logoSize1" src="assets/images/logos/Workday_logo.svg" alt="Logo" loading="lazy" />
          <img class="logoSize2" src="assets/images/logos/microsoft-logo.svg" alt="Logo" loading="lazy" />
        </div>
        <!-- <div class="container mt-3">
          <div class="row">
            <div class="col-12 col-md-6 mb-7 mb-md-0">
              <img src="assets/images/logos/image (8).jpg" alt="Company Logo" class="container-img w-100"
                loading="lazy" />
            </div>
            <div class="col-12 col-md-6 ps-0 ps-lg-10 mx-auto mx-md-none my-auto">
              <div class="d-flex flex-column justify-content-center align-items-center text-center">
                <p>
                  "We are inspired to ensure a healthier, more sustainable
                  planet for generations to come"
                </p>
                <p class="mb-0">
                  <span class="fw-bold">Arvind Reddy - CEO</span>
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>