<section class="pt-7 pb-5 pt-sm-5 pb-sm-6 bg-gradient7 position-relative overflow-hidden px-2 px-sm-0"
  data-aos="fade-up">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3 class="hero-title fw-medium text-dark">
          <span class="highlight highlight-success d-inline-block">Privacy Policy</span>
        </h3>
      </div>
    </div>
  </div>
  <div _ngcontent-rjj-c130="" class="divider bottom d-none d-sm-block"></div>
</section>
<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <p> 
        <b>1.Redwoods AI</b>
        values the privacy of our users and is committed to protecting their personal information. This Privacy Policy
        explains how we collect, use, share, and safeguard user data.
      </p>
      <p>
        <a [routerLink]="['.']" class="text-muted fw-normal h5 my-0">Redwoods AI Inc <br />
          405 Boulder Ct, # 800<br /> Pleasanton, CA 94566</a><br /> or can be
        contacted via
        email at
        <a class="emial" target="_blank" href="mailto:info@redwoods.ai">
          <span style="text-decoration: underline;">info@redwoods.ai.</span>
        </a>
      </p>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <b>2. Information We Collect: </b>
      <p></p>
      <p>• Personal information (name, email, phone number, etc.)</p>
      <p>• Browser and device information (IP address, browser type, etc.)</p>
      <p>• Usage data (pages visited, interactions, etc.)</p>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <b>3. How We Use Information: </b>
      <p></p>
      <p>• To provide and improve our services</p>
      <p>• To send communications and updates</p>
      <p>• To comply with legal obligations</p>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <b>4. Information Sharing: </b>
      <p></p>
      <p>• With third-party service providers (e.g., payment processors)</p>
      <p>• In response to legal requests or prevent harm</p>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <b>4 Data Security: </b>
      <p></p>
      <p>• We implement reasonable security measures to protect data</p>
    </div>
  </div>
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <b>5 User Rights: </b>
      <p></p>
      <p>•Access and update personal information</p>
      <p>• Request deletion (subject to limitations)</p>
      <p>• Object to certain processing activities</p>
    </div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <h2>Contact Us</h2>
      <p>
        For privacy matters:
        <a class="emial" target="_blank" href="mailto:info@redwoods.ai"><b> <span
              style="text-decoration: underline;">info@redwoods.ai.</span></b></a>
      </p>
      <p>
        For compliance matters::
        <a class="emial" target="_blank" href="mailto:info@redwoods.ai"><b> <span
              style="text-decoration: underline;">info@redwoods.ai.</span></b></a>
      </p>
      <p>
        For Support:
        <a class="emial" target="_blank" href="mailto:info@redwoods.ai"><b> <span
              style="text-decoration: underline;">info@redwoods.ai.</span></b></a>
      </p>
    </div>
  </div>
</section>