<section class="overflow-hidden pb-lg-7 bg-gradient7 position-relative pt-lg-6 py-4 px-2 px-sm-0" data-aos="fade-up"
    data-aos-duration="500">
    <div class="divider top d-none d-sm-block"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="display-5 fw-medium" style="font-size: 1.6rem; line-height: 1.4;">
                    Our SaaS cloud enterprise platform is designed with security, scalability, and customizability in mind. Select the modules that align with your unique needs or seamlessly integrate them with your existing systems.
                </h1>
            </div>
        </div>
        <div class="testimonials-2 mt-sm-4" data-aos="fade-up" data-duration="600">
            <div class="slider">
                <div class="row">
                    <div class="col-md-4 z-1 p-1" data-aos="fade-up" data-duration="600">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 70px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/ai-services.svg"
                                            alt="AI Services">
                                    </div>
                                    <h2 class="text-dark text-center">Agentic AI</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        AI agents to automate sustainability workflows​ 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 z-1 p-1" data-aos="fade-up" data-duration="800">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 75px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/sustainability.svg"
                                            alt="Supply Chain Platform">
                                    </div>
                                    <h2 class="text-dark text-center">Supply Chain Portal​​</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        Purpose-built Suppliers/SMEs Portal for Scope 3​ 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 z-1 p-1">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 70px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/esg-module.svg"
                                            alt="ESG Module">
                                    </div>
                                    <h2 class="text-dark text-center">Sustainability Platform</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        Enterprise platform to measure, and track sustainability data​
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 z-1 p-1" data-aos="fade-up" data-duration="700">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 70px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/data-automation.svg"
                                            alt="IT Integrations">
                                    </div>
                                    <h2 class="text-dark text-center">Integrations</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        IT/OT integration, and custom API interfaces ​
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 z-1 p-1" data-aos="fade-up" data-duration="800">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 70px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/reporting.svg"
                                            alt="Auto Reporting Framework">
                                    </div>
                                    <h2 class="text-dark text-center">Reporting Framework​
                                        ​</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        Inbuilt reporting tool for custom reports and templates​
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 z-1 p-1" data-aos="fade-up" data-duration="700">
                        <div class="feature-content h-100">
                            <div class="card p-4 border-0 rounded shadow h-100">
                                <div class="feature-text">
                                    <div class="text-center">
                                        <img loading="lazy" style="width: 70px;" class="mx-auto mt-3"
                                            src="/assets/images/homepageicons/mobile-app.svg"
                                            alt="Mobile App">
                                    </div>
                                    <h2 class="text-dark text-center">Custom</h2>
                                    <p class="text-center" style="font-size: 1rem; line-height: 1.4;">
                                        Customize the platform to scale as per requirements​
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
