<!-- <section class="section py-4 py-sm-8 bg-gradient3 position-relative px-2 px-sm-0" data-aos="fade-up"
    data-aos-duration="500">
    <div class="divider top d-none d-sm-block"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-semibold mb-4">Our Mission</h1>
                <p class="mb-5">
                    Our is to empower every organization to do better for the planet. At Redwoods.ai we build
                    world-class enterprise ESG software that makes it easy to bring sustainability to the forefront of
                    your business.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 align-items-center text-center">
                <img src="assets/images/all/our-mission.png" loading="lazy" alt="" style="width: 220px;"
                    class="img-fluid rounded-lg mx-sm-0 align-items-center" />
            </div>
        </div>
    </div>
</section> -->