<div data-aos="fade-up" data-aos-duration="600">
    <ng-container *ngIf="currentSection === 'enterprises'">
        <img loading="lazy" src="/assets/images/salution.png"
            class="img-fluid position-relative w-100 object-fit-cover" style="object-position: 0% 30%;" />
        <div class="container my-4">
            <h1 class="display-3">Sustainability Solutions for Enterprises</h1>
            <div class="my-3 fs-3">
                <p>Across the globe, enterprises are facing a new business landscape.  Aggregating, reporting and taking
                    action on GHG emissions, water, waste and other sustainability, social and governance-related KPIs
                    is no longer a “nice to have" it is a "must have".  Governments are requiring it, investors and
                    consumers want it, and the cost of inaction is great including financial penalties, litigation and
                    reputational damage.</p>

                <img loading="lazy" src="/assets/images/Dashboard.webp" class="mx-auto d-flex w-50 " data-aos="fade-up"
                    data-duration="600" />
                <div id="features" data-aos="fade-up" data-duration="600">
                    Redwoods.ais AI-powered SaaS solution is designed to provide an end-to-end solution that allows a
                    company to accelerate and focus their sustainability efforts powered by next-gen technologies.  
                    Using a SMART process, the platform offers: 
                    <ul>
                        <li>Out-of-the-box data integrations</li>
                        <li>GHG emissions (scopes 1, 2, 3)</li>
                        <li>Water and waste management</li>
                        <li>Social and Governance data aggregation and tracking</li>
                        <li>Reporting in compliance with multiple frameworks and jurisdictions</li>
                        <li>AI-powered insights and recommendations for target setting</li>
                        <li>Project management support for decarbonization and risk management</li>
                    </ul>

                    Redwoods.ai is excited to feature a breakthrough AI-powered Supplier Sustainability Platform for
                    engagement, streamlined data collection and change management.


                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentSection === 'suppliers'">
        <img loading="lazy" src="/assets/images/ESG software for Suppliers.webp" class="w-100 img-fluid"
            style="object-fit: cover;" />
        <div class="container my-4">
            <h1 class="display-3 fw-bold">ESG Software Platform for Suppliers
            </h1>
            <div class="my-3 fs-3">
                <p>As the climate and sustainability regulatory environment for large companies develops, the global
                    suppliers that make up the upstream and downstream value chains of these companies are also being
                    called on to be part of the sustainability transformation.  Whether this is reporting their GHG
                    emissions, use of natural resources, workforce practices or reporting on sector-specific KPIs,
                    current enterprise solutions don’t provide suppliers with the kind of tech-enabled support to meet
                    these increasing demands.</p>

                <img loading="lazy" src="/assets/images/Dashboard.webp" class="mx-auto d-flex w-50" />


                <p>Redwoods.ais Supplier Sustainability Platform is a breakthrough solution that puts the supplier front
                    and center, leveraging AI to ease the data gathering burden on suppliers and unlock engagement and
                    impact.  A customized supplier portal is a one-stop shop for environmental, social and governance
                    data gathering, calculations and reporting. An AI-powered mobile app enables real-time
                    communication and collaboration for data collection and timely reporting for compliance.</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentSection === 'investors'">
        <img loading="lazy" src="/assets/images/ESG Software for Investors.webp" class="w-100 img-fluid"
            style="object-fit: cover;object-position: 50% 30%;" />

        <div class="container my-4">
            <h1 class="display-3 fw-bold">ESG Software Platform for Investors
            </h1>
            <div class="my-3 fs-3">
                <p>The global investment landscape is increasingly complex and the stakes are high. Portfolio companies
                    must comply with climate and ESG disclosure mandates and greenwashing lawsuits, financial penalties
                    and reputational risks are on the rise. Investors need granular data and insights into the ESG
                    performance of companies so they can allocate and manage their resources most effectively. </p>


                <img loading="lazy" src="/assets/images/Dashboard.webp" class="mx-auto my-4 d-flex w-50" />


                <div class="mt-2">
                    Key Features:
                    <ul>
                        <li>ESG Ratings/Scoring</li>
                        <li>Industry/Sector Benchmarking</li>
                        <li>Dashboards for Environmental, Social, Governance</li>
                        <li>Automated ESG Data Gathering and Verification</li>
                        <li>Automated Reporting for Multiple Regulations</li>
                        <li>AI-Powered Actionable Insights & Alerts</li>
                        <li>AI-Powered Insights to Reduce Emissions, Cost and Supply Chain Risks</li>
                        <li>Advanced Analytics of Customized KPIs</li>
                        <li>Portfolio Monitoring of Emissions Data and Supplier Performance</li>
                        <li>Streamlined Integrations with other systems</li>
                        <li>Risk Assessment & Management across the Portfolio Companies</li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentSection === 'ngos'">
        <img loading="lazy" src="/assets/images/NGOs SME Supplier Sustainability.webp" class="w-100 img-fluid"
            style="object-fit: cover;object-position: 25% 40%;" />
        <div class="container my-4">
            <h1 class="display-3 fw-bold">Accelerating Progress Through Partnerships
            </h1>
            <div class="my-3 fs-3">
                <p>
                    NGOs and community stakeholders play a vital role in promoting sustainability and driving ESG impact
                    by advocating for policy changes, conducting research, engaging with companies and investors,
                    supporting sustainable solutions, providing training, empowering communities, holding entities
                    accountable, and shaping public opinion.</p>

                <p>Partnering with Redwoods.ai, NGOs can amplify their impact, leverage each other's expertise, and
                    promote a more sustainable and responsible business environment.
                </p>
                <img loading="lazy" src="/assets/images/Dashboard.webp" class="mx-auto d-flex w-50" data-aos="fade-up"
                    data-duration="600" />

                <div class="mt-2">
                    Redwoods.ai's products and insights can be leveraged in multiple ways to empower stakeholders and
                    strengthen critically important sustainability efforts and campaigns by:
                    <ul>
                        <li>Providing access to ESG data to inform research and advocacy campaigns for stronger ESG
                            practices,
                            policies and regulations.</li>
                        <li>Training and capacity-building for NGOs to enhance their understanding and use of ESG data
                            and
                            tools.
                        </li>
                        <li>Helping NGOs evaluate and improve their ESG performance and those of the communities they
                            serve
                            and
                            engage.</li>
                        <li>Facilitating collaboration between NGOs, investors, and companies to promote dialogue, share
                            best
                            practices, and drive positive change.</li>
                    </ul>

                </div>
            </div>
        </div>
    </ng-container>
</div>