<div data-aos="fade-up" data-aos-duration="600">
  <div style="position: relative">
    <div class="position-relative">
      <img
        src="/assets/images/careers.jpg"
        loading="lazy"
        class="img-fluid w-100 object-fit-cover"
        style="object-position: bottom"
      />
      <div
        class="position-absolute text-white d-flex align-items-center justify-content-center"
        style="
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-shadow: 0px 0px 20px #00000032;
        "
      >
        <p class="text-center display-2 fw-bold">
          Let's work together to create a sustainable future
        </p>
      </div>
    </div>

    <div
      class="position-absolute"
      style="
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      "
    >
      <p class="display-4 d-none w-50 fw-bold text-center">
        Unlock Your Potential: Where Dreams and Careers Align to Protect our
        Planet and Create a Sustainable Future!
      </p>
    </div>
  </div>
  <div class="container my-6">
    <p class="display-4 fw-bold text-center">
      Unlock Your Potential: Where Dreams and Careers Align to Protect our
      Planet and Create a Sustainable Future!
    </p>

    <div class="mt-4 fs-4">
      <p>
        Join our fast-growing team at Redwoods.ai and become part of our highly passionate, environmentally responsible team, developing next generation AI-native sustainability solutions!​
        We offer a highly competitive package and creative work environment that challenges your skills and facilitates opportunities to grow with other talented individuals and connect with partners and customers around the world!
      </p>

      <p>
        As a growing organization, we are currently accepting applications for the positions mentioned below. We look forward to speaking with you and learning about your enthusiasm and passion towards sustainability.​
      </p>

      <p>
        Please submit your resume or CV in PDF format to
        <a href="mailto:careers@redwoods.ai">careers@redwoods.ai</a>
      </p>
    </div>
    <div class="mt-4">
      <h2 class="fw-bold">Open Roles</h2>
      <p>
        Please check the below roles and apply for your respective position.
      </p>
      <div class="my-1">
        <ng-container *ngFor="let role of rolesJOBS">
          <p
            [routerLink]="'/page/jobsJobDes'"
            fragment="{{ role.id }}"
            class="fw-bold fs-3 pointer"
            style="cursor: pointer;"
          >
            <i
              class="pointer"
              data-feather="arrow-right-circle"
              style="width: 20px; height: 20px; margin-right: 10px; cursor: pointer"
            ></i
            >{{ role.title }}
          </p>
        </ng-container>
        <ng-container *ngFor="let role of rolesESG">
          <p
            [routerLink]="'/page/esgJobDes'"
            fragment="{{ role.id }}"
            class="fw-bold fs-3 pointer"
            style="cursor: pointer;"
          >
            <i
              class="pointer"
              data-feather="arrow-right-circle"
              style="width: 20px; height: 20px; margin-right: 10px; cursor: pointer"
            ></i
            >{{ role.title }}
          </p>
        </ng-container>
        <ng-container *ngFor="let role of roles">
          <p class="fw-bold fs-3">
            <i
              class=""
              data-feather="arrow-right-circle"
              style="width: 20px; height: 20px; margin-right: 10px"
            ></i
            >{{ role.title }}
          </p>
        </ng-container>
      </div>
    </div>
    <button class="btn btn-success mt-4">
      <a
        class="text-white"
        href="mailto:careers@redwoods.ai?subject=Interested in Joining Redwoods"
        >Apply Now</a
      >
    </button>
  </div>
  <div
    class="d-flex flex-column flex-md-row align-items-centers mx-auto container mb-5"
  >
    <img
      src="/assets/images/people.png"
      loading="lazy"
      class="h-50 career-image"
    />
    <div class="d-flex flex-column py-2 px-4 apply-container text-white">
      <p class="mt-4 fs-2 m-0">Looking for a job at Redwoods.Ai?</p>
      <!-- <a class="fs-2 underline text-white">Apply Current Job openings</a> -->

      <div class="mt-auto text-right">
        <p class="fs-3 fw-light">Apply for current job openings <br> by submitting your resume to</p>
        <a
          href="mailto:careers@redwoods.ai?subject=interested in joining redwoods.ai"
          class="fw-bold fs-3 text-white cursor-pointer"
          style="cursor: pointer"
          ><i data-feather="mail"></i> careers@redwoods.ai</a
        >
      </div>
    </div>
  </div>
</div>