.productItem {
    border-bottom: 1px solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px !important;
    padding: 6px;
}

.productItem:last-child {
    border-bottom: none;
}

.productItem:hover {
    background-color: rgb(216, 215, 215);
    // transform: scale(1.05);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.sub-menu:has(.ai-item:hover) {
    display: block;
}

.ai-item:hover .sub-menu {
    display: block;
}


.sub-menu {
    display: none;
    position: absolute;
    z-index: 10;
    // Relative position is for top-menu
    right: -55%;
    top: -10px;
    background-color: white;
}

.sub-menu>ul {
    list-style: none;
    padding: 15px;
}

@media (max-width: 768px) {
    .sub-menu {
        position: relative;
        display: block !important;
        inset: 0;
    }
}