<section class="pt-7 pb-5 pt-sm-5 pb-sm-6 bg-gradient7 position-relative overflow-hidden px-2 px-sm-0"
  data-aos="fade-up">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3 class="hero-title fw-medium text-dark">
          <span class="highlight highlight-success d-inline-block">FAQ</span>
        </h3>
      </div>
    </div>
  </div>
  <div _ngcontent-rjj-c130="" class="divider bottom d-none d-sm-block"></div>
</section>
<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h2 class="display-5 fw-semibold">1.REDWOODS</h2>
      </div>
    </div>
  </div>
</section>
<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <h4>• WHAT IS REDWOODS.AI?</h4>
      <p>
        Redwoods.ai is on a mission to empower organizations to do better to
        protect the planet. Our disruptive AI-Copilot enterprise ESG software
        helps organizations to shape and lead their NetZero and Sustainability
        transformation.
      </p>
      <h4>• WHY REDWOODS?</h4>
      <p>
        Redwoods.ai is on a mission to empower organizations to do better to
        protect the planet. Our disruptive AI-Copilot enterprise ESG software
        helps organizations to shape and lead their NetZero and Sustainability
        transformation.
      </p>
      <h4>• WHAT IS THE REDWOODS SMART PLATFORM?</h4>
      <p>
        Redwoods SMART Platform is unique and innovative approach to build a
        world-class software with Streamline, Measure, Accelerate, Report and
        Transform.
      </p>
      <h4>• WHAT IS AI-COPILOT?</h4>
      <p>
        Redwoods AI-CoPilot responsibly enables data-driven decision-making,
        faster iteration, and a focus on innovative and strategic tasks by
        automating repetitive tasks. Redwoods AI-Copilot ESG platform is the
        only AI-native software to build for simplifying and automating the data
        collection and reporting across the Environmental, Social and Governance
        factors.
      </p>
    </div>
  </div>
</section>

<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h2 class="display-5 fw-semibold">2.ESG</h2>
      </div>
    </div>
  </div>
</section>
<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <h4>• WHAT IS ESG, AND WHY IS IT IMPORTANT?</h4>
      <p>
        ESG is important because it helps companies manage risks, meet investor
        demands, comply with regulations, and contribute to a sustainable future
        while enhancing their reputation and long-term performance.
      </p>
      <h4>• WHY IS ESG IMPORTANT?</h4>
      <p>
        ESG stands for Environmental, Social, and Governance. It refers to a
        framework used to evaluate the sustainability and ethical impact of a
        company or investment. ESG is important because it helps companies
        manage risks, meet investor demands, comply with regulations, and
        contribute to a sustainable future while enhancing their reputation and
        long-term performance.
      </p>
      <h4>• HOW CAN I IMPROVE MY ESG RATING?</h4>
      <p>
        Improving your ESG score is an ongoing process that requires commitment,
        resources, and a long-term perspective. Redwoods AI-Copilot software
        makes it simple for your business to streamline data collection, measure
        all ESG related metrics, accelerate your sustainability programs,
        reports to various stakeholders and transform your business into a
        sustainability leader.
      </p>
      <h4>• WHY IS IMPROVING MY ESG PERFORMANCE IMPORTANT?</h4>
      <p>
        A good ESG performance is important for several reasons: reducing risks,
        compliance and regulatory alignment, enhancing reputation, attracting
        investment, long-term success, societal impact, enhanced credibility,
        and stakeholder expectations.
      </p>
    </div>
  </div>
</section>

<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h2 class="display-5 fw-semibold">3.MANDATES </h2>
      </div>
    </div>
  </div>
</section>
<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3">
      <h4>• WHICH COUNTRIES HAVE IMPLEMENTED ESG DISCLOSURE LAWS?
      </h4>
      <p>
        As of today, several countries have implemented ESG disclosure regulations. For instance, Australia requires
        listed companies to disclose material exposure to environmental or social risks and how they manage or intend to
        manage those risks. Similarly, the European Union has introduced the Sustainability Finance Disclosures
        Regulation (SFDR) and the EU Corporate Sustainability Reporting Directive (CSRD) to enhance ESG transparency. In
        the United States, California has passed SB253/261 climate disclosure laws. Securities and Exchange Board of
        India (SEBI) has mandated Business Responsibility and Sustainability Reporting (BRSR) format for listed
        entities. Additionally, many countries have formed task forces and working groups to explore implementing
        mandatory ESG disclosure regulations in the near future.

      </p>
      <h4>• WHAT IS EU CSRD AND WHEN IS IT EFFECTIVE? </h4>
      <p>
        The EU Corporate Sustainability Reporting Directive (CSRD) is a new regulation that requires large companies and
        listed companies (except micro-enterprises) to report on sustainability matters. The CSRD aims to enhance the
        transparency and comparability of sustainability information. It enters into force on January 5, 2023, and will
        be phased in starting from January 1, 2024, for certain large EU and EU-listed companies
      </p>
      <h4>• ARE THERE ANY PENALTIES FOR NOT COMPLYING WITH CSRD? </h4>
      <p>
        Yes, there are penalties for non-compliance with the EU's Corporate Sustainability Reporting Directive (CSRD).
        Companies that fail to comply with the CSRD may face legal penalties, fines, and damage to their reputation.
        Additionally, each EU member state will determine its own penalties for non-compliance, which may include fines
        up to €10 million or 5% of a company's global annual turnover.
      </p>
      <h4>• WHAT ARE SB253/261 CLIMATE DISCLOSURE LAWS? </h4>
      <p>
        California's SB 253 and SB 261, signed into law on October 7, 2023, require companies with annual revenues
        exceeding $1 billion and $500 million respectively, that do business in California, to disclose greenhouse gas
        emissions and climate-related financial risks. Disclosures begin in 2026 and 2027 respectively, with penalties
        for non-compliance up to $500,000 and $50,000 respectively. These laws aim to promote climate action and
        transparency.
      </p>
    </div>
  </div>
</section>

<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h2 class="display-5 fw-semibold">4.REDWOODS UNIQUE DIFFERENTIATORS </h2>
      </div>
    </div>
  </div>
</section>
<section class="position-relative mb-4" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3 ">
      <h4>• WHAT MAKES REDWOODS ESG PLATFORM DIFFERENT FROM OTHERS?

      </h4>
      <p>
        Redwoods is an end-to-end ESG solutions provider covering not only environmental factors but also social and
        governance metrics. Redwoods AI Inc Copilot is the only AI-native software currently on the market.
      </p>
      <h4>• HOW IS THE DATA COLLECTED ON THE REDWOODS PLATFORM?
      </h4>
      <p>
        Data is seamlessly integrated into the Redwoods platform through the connectors into the enterprise systems.
        This streamlined integration is one of the highlights of the Redwoods platform and is offered as out-of-box
        integration.
      </p>
    </div>
  </div>
</section>

<section class="position-relative" data-aos="fade-up" data-aos-duration="600">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-6">
        <h2 class="display-5 fw-semibold">5. Pricing </h2>
      </div>
    </div>
  </div>
</section>
<section class="position-relative mb-4" data-aos="fade-up" data-aos-duration="600">
  <div class="container" data-aos="fade-up" data-aos-duration="600">
    <div class="row align-items-center mt-3 ">
      <h4 class="text-uppercase">• How can I add or update my payment methods?</h4>
      <p>
        To add a new card or modify an existing payment method, please follow these steps:</p>

      <ul style="margin-left: 20px !important;">
        <li>
          Sign in to your account.
        </li>

        <li>Navigate to 'Subscriptions'.</li>

        <li>Select 'Add Payment Method' to enter new card details or choose an existing card to edit. We support all
          major
          credit cards, including Visa, Mastercard, American Express, and Discover. For alternative payment
          arrangements,
          feel free to contact us directly.</li>
      </ul>
      <h4 class="text-uppercase">• Can I modify or cancel my subscription plan?
      </h4>
      <p>
        Yes, you can. To make any changes to your subscription plan, please send an email to info@redwoods.ai. Remember,
        each plan qualifies for annual payment options. We also offer refunds under specific acceptable circumstances.
        If you choose to cancel your plan before the start of your next billing cycle, you will still have access to
        your redwoods services until the end of your current plan period.
      </p>
    </div>
  </div>
</section>